---
import * as v from "valibot";

import LexiconAlphabetLinks from "@/components/lexicon-alphabet-links.astro";
import LexiconIndex from "@/components/lexicon-index";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import LexiconLayout from "@/layouts/lexicon-layout.astro";
import PageLayout from "@/layouts/page-layout.astro";
import { processMdx } from "@/lib/content/mdx";
import { reader } from "@/lib/content/reader";
import { createI18n } from "@/lib/i18n";

export const prerender = false;

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;
const { t } = await createI18n(locale);
const errorMessage = t("SearchResults.nothing-found");
const pendingMessage = t("SearchResults.pending");

const page = await reader().collections.pages.readOrThrow("lexikon/orte");

const documentTitle = page.title;
const { title } = page;
const { default: Content } = await processMdx(await page.content(), locale);

const schema = v.object({
	letter: v.fallback(v.optional(v.pipe(v.string(), v.regex(/\w/), v.toLowerCase()), "a"), "a"),
	start: v.fallback(v.optional(v.pipe(v.unknown(), v.transform(Number), v.number()), 1), 1),
});
const { letter, start } = v.parse(schema, {
	letter: Astro.url.searchParams.get("letter"),
	start: Astro.url.searchParams.get("start"),
});
---

<PageLayout locale={locale} title={documentTitle}>
	<LexiconLayout title={title}>
		<div class="prose">
			<Content />
		</div>

		<LexiconAlphabetLinks current={letter} />

		<LexiconIndex
			client:only="solid-js"
			category="Ort"
			errorMessage={errorMessage}
			pendingMessage={pendingMessage}
			letter={letter}
			start={start}
			max={500}
		/>
	</LexiconLayout>
</PageLayout>
