---
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageSection from "@/components/page-section.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { processMdx } from "@/lib/content/mdx";
import { reader } from "@/lib/content/reader";

export async function getStaticPaths() {
	const _pages = await reader().collections.pages.all();

	const pages = _pages.filter((page) => {
		return (
			!page.slug.startsWith("lexikon/") &&
			!page.slug.startsWith("forschung/kopisten/") &&
			!page.slug.startsWith("werkverzeichnis/wab") &&
			page.slug !== "kontakt"
		);
	});

	return pages.flatMap((page) => {
		return { params: { id: page.slug }, props: { page: page.entry } };
	});
}

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;

const { page } = Astro.props;
const { id } = Astro.params;

const documentTitle = page.title;
const { title, image, vita } = page;
const tablesStriped = page["tables-striped"];
const classes = `leading-7 ${tablesStriped ? "tables-striped" : undefined}`;

const { default: Content } = await processMdx(await page.content(), locale);
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageSection variant="full-height">
			<PageCard image={image}>
				<PageTitle>{title}</PageTitle>
				<div class={classes} data-slug={id}>
					<Content />
					{
						vita.map(async (vitaEntry, idx) => {
							const { period, description } = vitaEntry;
							const { default: Description } = await processMdx(await description, locale);
							return (
								<>
									<div class="flex flex-col md:flex-row">
										<div class="w-44">{period}</div>
										<div class="flex-1">
											<Description />
										</div>
									</div>
									{idx < vita.length - 1 && <hr class="mb-3 mt-2 border" />}
								</>
							);
						})
					}
				</div>
			</PageCard>
		</PageSection>
	</MainContent>
</PageLayout>
